.info {
    margin: 5%;
    background-color: rgb(255, 179, 151);
    padding: 20px;
    border-radius: 6px;
    border-style: solid;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 700px) {     
    .info {
        text-align: center;
    }

    .center {
        text-align: center;
    }
}