<div class="info">
    <h2>Adicione uma nova consulta</h2>
    <form [formGroup]="form" (submit)="addConsulta()">
        <mat-form-field> 
            <mat-select [(ngModel)]="selectedMedico" formControlName="medico">
                <mat-option *ngFor="let medico of medicos" [value]="medico.id">
                  {{medico.nome}}
                </mat-option>
              </mat-select>
            <mat-error>Médico inválido!</mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field> <input matInput type="date" placeholder="Data de Nascimento" required formControlName="dateOfBirth"/>
            <mat-error>Data inválida!</mat-error>
        </mat-form-field>
        <br/>
        <button mat-raised-button color="accent">Adicionar</button>
    </form>
</div>