<div class="info">
    <h2>Faça seu cadastro agora!</h2>
    <form [formGroup]="form" (submit)="placeholderSignUp()">
        <mat-form-field> <input matInput type="text" placeholder="Nome" required formControlName="name"/>
            <mat-error>Nome inválido!</mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field> <input matInput type="text" maxlength="12" placeholder="RG" mask="00.000.000-0" required formControlName="rg"/>
            <mat-error>RG inválido!</mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field> <input matInput type="text" placeholder="CPF" mask="CPF_CNPJ" required formControlName="cpf"/>
            <mat-error>CPF inválido!</mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field> <input matInput type="date" placeholder="Data de Nascimento" required formControlName="dateOfBirth"/>
            <mat-error>Data inválida!</mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field> <input matInput type="text" placeholder="Nome da mãe" required formControlName="mothersName"/>
            <mat-error>Nome inválido!</mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field> <input matInput type="text" placeholder="Nome do pai" required formControlName="fathersName"/>
            <mat-error>Nome inválido!</mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field> <input matInput type="text" placeholder="Usuário" required formControlName="user"/>
            <mat-error>Usuário inválido!</mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field> <input matInput type="password" placeholder="Senha" required formControlName="password"/>
            <mat-error>Senha inválida!</mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field> <input matInput type="text" placeholder="Função" required formControlName="position"/>
            <mat-error>Função inválido!</mat-error>
        </mat-form-field>
        <br/>
        <button mat-raised-button color="accent">Cadastrar</button>
    </form>
</div>