<div class="info">
    <h2>Cuide da sua saúde mental e veja a transformação na sua vida!</h2>
    <img [src]="fotoDoutor" class="foto-doutor">
    <h4>Rafael Petrilli<br />CRP 06/118863
    </h4>
</div>

<div class="info">
    <h2>
        O que é saúde mental?
    </h2>
    <p>Em geral, os termos causam confusão. Mas basta lê-los com cuidado, pois são autoexplicativos. O primeiro
        refere-se à saúde e, os outros, à ausência dela. Não existe, porém, uma definição oficial para o conceito de
        saúde mental, de acordo com a Organização Mundial de Saúde (OMS).</p>
    <p>O termo está relacionado à forma como uma pessoa reage às exigências, desafios e mudanças da vida e ao modo como
        harmoniza suas ideias e emoções. Diariamente, vivenciamos uma série de emoções, boas ou ruins, mas que fazem
        parte da vida.</p>
</div>