.info {
    margin: 5%;
}

.info h2 {
    text-align: justify;
}

.info p {
    text-align: justify;
}

.foto-doutor {
    width: 90vw;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    height: 50px;
    width: 100px;
}