.sidenav-container {
    height: 100%;
    background-color: rgb(211, 242, 255)
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
    background-color: rgb(255, 179, 151);
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}