/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-toolbar {
    background-color: rgb(255, 179, 151);
}
.info {
    margin: 5%;
}
.mat-raised-button {
    background-color: rgb(151, 226, 255) !important;
    color: black !important;
}